html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 100%;}

body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.hidden {
    display: none;
    visibility: hidden;
}
.invisible {
    visibility: hidden;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.orange {
     color: #D25B2B ! important;
     font-weight: bold;
     text-decoration: none;}

body {
    background: none repeat scroll 0 0 #000;
    color: #FFF;
    font-family: Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    width: 100%;
    height: 100%;}
    
#wrapper {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
    word-wrap: break-word;
}
#header {
    color: #FFF;
    background: #000;
    padding: 10px;
    height: 40px;
    line-height: 40px;}

#header .left {
	float: left;
	clear: none;
	width: 60%;
	padding-top: 10px;}
    
#header .right {
	float: right;
	clear: none;
	width: 30%;
	text-align: right;
	padding-bottom: 10px;}

#header a {
    color: #FFFFFF;
    text-decoration: none;
}
#header .button {
    background: none repeat scroll 0 0 #607d8e;
    border: 1px solid #567C01;}

.contentholder {
	clear: both;}

#footer {
    color: #FFF;
    font-family: Arial,sans-serif;
    font-size: 12px;
    text-align: center;
    clear: both;
    margin-top: 10px;}
    
#footer a:link, #footer a:active, #footer a:visited {
    color: #FFF;}

p {
    margin: 0px 0 6px;}

a {
    color: #FFF;}
    
.info {
	font-size: 70%;
	line-height: 170%;
	padding: 5px 0 5px 0;}

.info a {
	font-size: 125%;
	line-height: 180%;
	text-decoration: none;
	font-weight: bold;}

h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
    text-transform: uppercase;}

h2 {
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: bold;
    text-transform: uppercase;}

h3 {
    font-size: 12px;
    margin-bottom: 6px;
    font-weight: bold;}
    
hr {
    border: 0 none;
    height: 10px;
}

.nopad ul {
    margin: 0;
    clear: both;
    height: auto;
    width: 100%;}

.nopad ul li {
    display: block;
    font-size: 100%;
    font-weight: normal;
    list-style: none outside none;
    padding: 0;
    text-transform: uppercase;
    float: left;
    text-align: center;
    height: 40px;
    border-right: 1px solid #828282;
    width: 33%;}

.nopad ul li.lastitem {
	border-right: none;}
    
.nopad li a {
    color: #FFF;
    display: block;
    line-height: 40px;
    text-decoration: none;}

.content h1 {
    position: relative;}
    
h1 .right {
    position: absolute;
    right: 10px;
    top: 6px;}
    
.content {
    background: none repeat scroll 0 0 #000;
    margin: 0;
    padding: 0;
    text-align: left;
    height: auto;}
    
.content ul {
    list-style: none;
    margin: 0;
    height: auto;}
    
.content img {
	border-right: 1px solid #828282;
    float: left;
    margin-right: 5px;}
    
.content img.inline {
    float: left;
    margin: 10px;}

.content pre, .content code {
    background-color: #000;
    margin: 0 0 5px;
    overflow-x: auto;
    padding: 5px 5px 3px;
    white-space: normal;
    word-wrap: break-word;}
    
.content pre {
    width: 95%;}
    
.content #singleitem img {
	clear: both;
	border:none;
	display: block;
	float: none;
	margin: 0;}

.content #singleitem .priser img, .content #singleitem .beskrivelse img {
	clear: none;
	float: right;
	padding-top: 10px;
	padding-right: 10px;}	

    
button.button {
    background: none repeat scroll 0 0 #679500;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    text-align: center;
    width: 100%;}
    
input, textarea {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E9E9E9;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 10px;
    width: 100%;
}
label {
    color: #679500;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
label span, .required {
    color: #679500;
}
.right a, .button {
    background-color: #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    font-size: 11px;
    font-weight: normal;
    line-height: 24px;
    padding: 3px 8px 1px 8px;
    text-decoration: none;
    text-transform: lowercase;}
    
.right {
    float: right;}

.left {
    float: left;}

.nopad {
    padding: 0;
    margin: 0;
    height: 40px;
    border-top: 1px solid #828282;
    line-height: 40px;
    text-align: center;}
    
.notice {
    background: none repeat scroll 0 0 #FFF3AE;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: italic;
    margin: 8px 0 14px;
    padding: 10px;
    width: 260px;
}
.error {
    border: 1px solid #CC0000;
}
.spacer {
    clear: both;
}
.message {
    background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 3px 3px 3px 3px;
    color: #999999;
    padding: 10px;
}
.highlight {
    background: none repeat scroll 0 0 #FBF8E4;
    color: #AE801D;
}
.highlight h1, .highlight h2, .highlight h3, .highlight h4, .highlight h5 {
    border-color: #EBE7C9;
    color: #AE801D;
}
.rss-news-plugin {
    padding: 10px;
}
.gallery-overview ul {
    margin: 0;
}
.gallery-overview img {
    padding: 2px;
}

.MobilEventlist ul {
	height: auto;
	border-bottom: 1px solid #828282;}

.MobilEventlist li {
	display: block;
	clear: both;
	border-top:1px solid #828282;}
	
.priser, .beskrivelse {
	border-top: 1px solid #828282;
	padding: 5px;}
	
	
/* *** AddThis *** */

.addthis_default_style .addthis_separator, .addthis_default_style .at300b {
	margin: 0 auto;}